body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #78c6ff;
}

.brainDiv {
    width: 280px;
    margin: auto;
    animation: levitation 8s ease infinite alternate;
}

.shadowDiv {
    width: 150px;
    animation: shadowAnimation 8s ease infinite alternate;
}

.som { 
    fill: rgba(10, 12, 16, 0.8);
}

.st0 {
    fill: none; 
    stroke: #EDF1F7;
    stroke-linecap: round; 
    stroke-linejoin: round; 
    stroke-miterlimit: 10; 
    animation: blessed 8s ease infinite alternate;
}

.st1 { 
    fill: #EF7668; 
} 

.st2 { 
    fill: #333333; 
} 

.st3 { 
    fill-rule: evenodd; 
    clip-rule: evenodd; 
    fill: #4F7F83;
} 

.st4 { 
    fill: #EF564B;
} 

.st5 { 
    fill: #441165; 
}

@keyframes levitation {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 50px);
    }
    80% {
        transform: translate(0, -50px);
    }
}

@keyframes shadowAnimation {
    0%, 100% {
        transform: scale(.4);
    }
    50% {
        transform: scale(.9);
    }
    80% {
        transform: scale(.1);
    }
}

@keyframes blessed {
    0%, 100% {
        stroke-width: 15; 
    }
    50% {
        stroke-width: 15; 
    }
    80% {
        stroke-width: 30; 
    }
} 